<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <!-- Create a data source -->
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   	<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
   	<property name="url" value="jdbc:mysql://localhost/wallet"/>
   	<property name="username" value="root"/>
   	<property name="password" value="root"/>
   </bean>
   
   <!-- Obtain a jdbc template -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	<property name="dataSource" ref="dataSource"/>
	</bean>  
	
	
	 
	<!-- Put this tag for Annotations to work -->
	<context:annotation-config></context:annotation-config>


	<!-- Tells Spring to scan @Components in our application -->
	<context:component-scan
		base-package="com.ibm.wallet.dao"></context:component-scan>
   </beans>
   
   